/*
=============== 
Variables
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* sidebar */

.sidebar-container {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px;
  transition: var(--transition);
  z-index: 10;
  background-color: white;
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.sidebar-container.active {
  left: 0;
}
.sidebar-close {
  cursor: pointer;
  opacity: 0;
  display: none;
  font-size: 2rem;
}

.sidebar-center {
  display: flex;
  flex-direction: column;
}
.sidebar-center header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.title {
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(75, 67, 67);
}
.link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(87, 86, 86);
  transition: var(--transition);
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.is-active {
  background-color: #f1f5f9;
}
.link:hover {
  transition: var(--transition);
  background-color: #f1f5f9;
}
.link-icon {
  font-size: 1.2rem;
}
.link-title {
  margin-left: 0.35rem;
}
.right-side {
  flex-grow: 1;
  transition: var(--transition);
}
.right-side.active {
  margin-left: 200px;
}

/* topbar */

.topbar-container {
  /* position: fixed; */
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
  justify-content: space-between; /* Distribute space between children */
  z-index: 10;
}
.topbar-center {
  display: flex;
  align-items: center;
  transition: var(--transition);
  margin: 0 1rem;
  width: 100%;
}

.topbar-left {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}
.search-form {
  position: relative;
  width: 100%;
}
.search-bar {
  border-radius: var(--radius);
  border: 1px solid #ccc;
  flex-grow: 1;
  max-width: 400px;
  width: 100%;
  height: 28px;
  padding-left: 2rem;
  outline: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  caret-color: transparent;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}
.theme-toggle {
  margin-left: 3rem;
  right: 1rem;
  font-size: 1.75rem;
  transform: rotate(30deg);
}

@media screen and (min-width: 800px) {
  .sidebar-container:is(.sidebar-container.active) {
    left: 0;
  }
  .right-side:is(.right-side.active) {
    margin-left: 200px;
  }
  .topbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

@media screen and (max-width: 800px) {
  .sidebar-container {
    z-index: 11;
  }
  .sidebar-close {
    display: block;
    opacity: 1;
  }
  .sidebar-container.active {
    width: 100%;
  }
}

/* search overlay */

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 200vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-search-form {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 80%;
  max-width: 800px;
}

.search-bar-overlay-container {
  width: 100%;
  height: 50px;
  padding-left: 3rem;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
}

.overlay-search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}

.search-overlay-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 100%;
  max-width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 0 0 0.25rem 0.25rem;
}

/* home page */

.homepage-container {
  height: 160vh;
  padding: 1rem;
  background-color: #f1f5f9;
}

@media screen and (min-width: 600px) {
  .homepage-container {
    padding: 2rem;
  }
}
/* @media screen and (min-width: 1100px) {
  .stock-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1500px) {
  .stock-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 2000px) {
  .stock-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}  */

/* stock container */

.stock-container {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  padding-right: 2rem;
  height: 475px;
}

.btn-container {
  margin-left: 1.25rem;
}

.stock-container .btn {
  padding: 0.25rem 0.5rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  color: white;
  background: rgba(155, 154, 154, 0.959);
}
.btn-active {
  background: rgba(102, 101, 101, 0.959) !important;
}

.stock-main-info {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
}

.stock-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}

.stock-price {
  font-weight: 500;
}

.stock-change {
  font-weight: 500;
  color: #2a9c29;
}

.stock-change-negative {
  color: #b30000;
}

.stock-price-change {
  margin-right: 0.25rem;
}
.stock-arrow {
  margin-left: 0.1rem;
  font-size: 0.75rem;
}

/* stock info */

.stock-additional-info {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0.75rem;
  height: 55px;
  justify-content: space-around;
  color: grey;
  align-items: end;
}
.stock-additional {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0 1rem;
}
.stock-additional:nth-child(2) {
  border-left: 1px solid rgb(189, 185, 185);
  border-right: 1px solid rgb(189, 185, 185);
}
.additional-title {
  margin-right: 2rem;
}
@media screen and (min-width: 600px) {
  .stock-additional-info {
    justify-content: center;
    margin-left: 0;
  }
  .stock-additional {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 2rem;
  }
}

/* wishlist page */

.wishlist-container {
  height: 120vh;
  padding: 1rem;
  background-color: #f1f5f9;
}

/* news page */

.news-container {
  height: 120vh;
  padding: 1rem;
  background-color: #f1f5f9;
}

/* educational page */

.educational-container {
  height: 120vh;
  padding: 1rem;
  background-color: #f1f5f9;
}
