/*
=============== 
Global
===============
*/

:root {
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f9;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/*
=============== 
Sidebar
===============
*/

.sidebar-container {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px;
  transition: var(--transition);
  z-index: 10;
  background-color: white;
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2);
}
.sidebar-container.active {
  left: 0;
}
.sidebar-close {
  cursor: pointer;
  opacity: 0;
  display: none;
  font-size: 2rem;
}

.sidebar-center {
  display: flex;
  flex-direction: column;
}
.sidebar-center header {
  display: flex;
  justify-content: space-between;
  height: 60px;
}
.title {
  padding: 1rem;
  font-size: 1.7rem;
  color: rgb(75, 67, 67);
}
.link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(87, 86, 86);
  transition: var(--transition);
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.is-active {
  background-color: #f1f5f9;
}
.link:hover {
  transition: var(--transition);
  background-color: #f1f5f9;
}
.link-icon {
  font-size: 1.2rem;
}
.link-title {
  margin-left: 0.35rem;
}
.right-side {
  flex-grow: 1;
  transition: var(--transition);
}
.right-side.active {
  margin-left: 200px;
}
@media screen and (max-width: 800px) {
  .sidebar-container {
    z-index: 11;
  }
  .sidebar-close {
    display: block;
    opacity: 1;
  }
  .sidebar-container.active {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .sidebar-container:is(.sidebar-container.active) {
    left: 0;
  }
  .right-side:is(.right-side.active) {
    margin-left: 200px;
  }
  .topbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

/*
=============== 
Topbar 
===============
*/

.topbar-container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 10;
}
.topbar-center {
  display: flex;
  align-items: center;
  transition: var(--transition);
  margin: 0 1rem;
  width: 100%;
}

.topbar-left {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}
.search-form {
  position: relative;
  width: 100%;
}
.search-bar {
  border-radius: var(--radius);
  border: 1px solid #ccc;
  flex-grow: 1;
  max-width: 300px;
  width: 100%;
  height: 28px;
  padding-left: 2rem;
  outline: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  caret-color: transparent;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}
.theme-toggle {
  margin-left: 3rem;
  right: 1rem;
  font-size: 1.75rem;
  transform: rotate(30deg);
}

/*
=============== 
Overlay and Search
===============
*/

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 200vw;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-search-form {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 80%;
  max-width: 800px;
}

.search-bar-overlay-container {
  width: 100%;
  height: 50px;
  padding-left: 3rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.search-no-results {
  border-radius: 0.5rem;
}

.overlay-search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}

.search-results-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b8b7b7 #f1f1f1;
}

.search-results-container::-webkit-scrollbar {
  width: 7px;
}

.search-results-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.search-results-container::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.search-results-container::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

.stock-single-result {
  border-top: 1px solid rgb(184, 181, 181, 0.4);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.stock-single-result:first-child {
  border-top: none;
}
.stock-single-result:hover {
  background-color: rgb(184, 181, 181, 0.4);
}
.result-symbol {
  font-weight: 500;
  margin-right: 0.5rem;
}
.result-exchange {
  font-weight: 500;
  color: grey;
}
.result-name {
  color: grey;
  font-size: 0.9rem;
}

/*
=============== 
Home Page 
===============
*/

.homepage-container {
  padding: 1rem;
}

@media screen and (min-width: 600px) {
  .homepage-container {
    padding: 2rem;
  }
}

/*
=============== 
Single Stock
===============
*/

.stock-container {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  padding-right: 2rem;
  height: 475px;
}

.btn-container {
  margin-left: 1.25rem;
}

.stock-container .btn {
  padding: 0.25rem 0.5rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  color: white;
  background: rgba(155, 154, 154, 0.959);
}
.btn-active {
  background: rgba(102, 101, 101, 0.959) !important;
}

.stock-main-info {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
}

.stock-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-to-wishlist-icon {
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}
.wishlist-icon-active {
  color: rgba(224, 191, 3, 0.7);
}
.wishlist-icon-active:hover {
  color: grey !important;
}
.add-to-wishlist-icon:hover {
  color: rgba(224, 191, 3, 0.7);
}

.stock-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}

.stock-price {
  font-weight: 500;
}

.stock-change {
  font-weight: 500;
  color: #2a9c29;
}

.stock-change-negative {
  color: #b30000;
}

.stock-price-change {
  margin-right: 0.25rem;
}
.stock-arrow {
  margin-left: 0.1rem;
  font-size: 0.75rem;
}

.stock-additional-info {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-left: 0.25rem;
  height: 55px;
  justify-content: center;
  color: grey;
  align-items: end;
}
.stock-additional {
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0 0.75rem;
}
.stock-additional:nth-child(2) {
  border-left: 1px solid rgb(189, 185, 185);
  border-right: 1px solid rgb(189, 185, 185);
}
.additional-title {
  margin-right: 0.75rem;
}
@media screen and (min-width: 550px) {
  .stock-additional {
    padding: 0 1.25rem;
  }
  .additional-title {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .stock-additional-info {
    margin-left: 0;
  }
  .stock-additional {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 2rem;
  }
}

/*
=============== 
Wishlist Page
===============
*/

.wishlist-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #f1f5f9;
}

.wishlist-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: var(--transition);
}
.wishlist-item:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08), 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  transition: var(--transition);
}

.wishlist-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wishlist-symbol,
.wishlist-exchange,
.wishlist-close {
  font-weight: 500;
}

.wishlist-name {
  font-size: 0.95rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.wishlist-symbol-exchange {
  color: grey;
}
.wishlist-icon {
  font-size: 1.25rem;
  color: rgba(224, 191, 3, 0.7);
}
.wishlist-icon:hover {
  font-size: 1.25rem;
  color: grey;
}
.wishlist-close,
.wishlist-currency {
  font-weight: 500;
  font-size: 1.25rem;
}
.wishlist-close {
  margin-right: 0.25rem;
}
.wishlist-change {
  display: flex;
  align-items: center;
  color: #2a9c29;
  font-size: 1rem;
  font-weight: 500;
}
.wishlist-change-negative {
  color: #b30000;
}
.wishlist-change-value {
  margin-right: 0.25rem;
}
.wishlist-percent-change {
  margin-right: 0.1rem;
}
.wishlist-arrow {
  font-size: 0.85rem;
}

.wishlist-item-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 0.75rem;
}

.wishlist-item:hover .wishlist-item-overlay {
  opacity: 1;
}
/* .wishlist-view-btn {
  margin-bottom: 0.5rem;
} */

.wishlist-remove-btn,
.wishlist-view-btn {
  cursor: pointer;
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.wishlist-remove-btn:hover,
.wishlist-view-btn:hover {
  transform: scale(1.03);
  border-color: rgb(160, 160, 160);
}
.wishlist-btn-icon {
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1500px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*
=============== 
News Page 
===============
*/

.news-container {
  padding: 1rem;
}

/*
=============== 
Educational Page 
===============
*/

.educational-container {
  padding: 1rem;
}

/*
=============== 
Product View Page 
===============
*/

.product-view-container {
  padding: 1rem;
}
