/*
=============== 
Global
===============
*/

:root {
  --toastify-toast-background: #fff;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f9;
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
=============== 
Sidebar
===============
*/

.sidebar-container {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -200px;
  transition: var(--transition);
  z-index: 10;
  background-color: white;
  box-shadow: 2px 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.sidebar-container.active {
  left: 0;
}
.sidebar-close {
  cursor: pointer;
  opacity: 0;
  display: none;
  font-size: 2rem;
}

.sidebar-center {
  display: flex;
  flex-direction: column;
}
.sidebar-center header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 1rem;
}
.logo {
  margin-top: 1rem;
  margin-left: -1rem;
  width: 170px;
  height: 40px;
}

.link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: rgb(87, 86, 86);
  transition: var(--transition);
  font-size: 1.05rem;
  letter-spacing: 1px;
}
.link-dark {
  color: white;
}
.is-active {
  background-color: #f1f5f9;
}
.link:hover {
  transition: var(--transition);
  background-color: #f1f5f9;
}
.link-icon {
  font-size: 1.2rem;
}
.link-title {
  margin-left: 0.35rem;
}
.right-side {
  flex-grow: 1;
  transition: var(--transition);
}
.right-side.active {
  margin-left: 200px;
}
@media screen and (max-width: 800px) {
  .sidebar-container {
    z-index: 11;
  }
  .sidebar-close {
    display: block;
    opacity: 1;
  }
  .sidebar-container.active {
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .sidebar-container:is(.sidebar-container.active) {
    left: 0;
  }
  .right-side:is(.right-side.active) {
    margin-left: 200px;
  }
  .topbar-container {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

/*
=============== 
Topbar 
===============
*/

.topbar-container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  z-index: 10;
}
.topbar-center {
  display: flex;
  align-items: center;
  transition: var(--transition);
  margin: 0 1rem;
  width: 100%;
}

.topbar-left {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}
.search-form {
  position: relative;
  width: 100%;
}
.search-bar {
  border-radius: var(--radius);
  border: 1px solid #ccc;
  flex-grow: 1;
  max-width: 300px;
  width: 100%;
  height: 28px;
  padding-left: 2rem;
  outline: none;
  color: rgb(102, 102, 102);
  cursor: pointer;
  caret-color: transparent;
}
.search-bar:disabled {
  background-color: #f1f1f1;
  color: #ccc;
  cursor: not-allowed;
}
.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}
.theme-toggle {
  cursor: pointer;
  margin-left: 3rem;
  right: 1rem;
  font-size: 1.75rem;
  transform: rotate(30deg);
}

/*
=============== 
Overlay and Search
===============
*/

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  height: 100%;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-search-form {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 80%;
  max-width: 800px;
}

.search-bar-overlay-container {
  width: 100%;
  height: 50px;
  padding-left: 3rem;
  border: none;
  outline: none;
  border-radius: 0.5rem 0.5rem 0 0;
}

.search-no-results {
  border-radius: 0.5rem;
}

.overlay-search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #b4b2b2;
  font-size: 1.25rem;
}

.search-results-container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 100%;
  max-width: 800px;
  max-height: 600px;
  background-color: white;
  border-radius: 0 0 0.5rem 0.5rem;
  padding-top: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #b8b7b7 #f1f1f1;
}

.search-results-container::-webkit-scrollbar {
  width: 7px;
}

.search-results-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.search-results-container::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 10px;
}

.search-results-container::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

.stock-single-result {
  border-top: 1px solid rgb(184, 181, 181, 0.4);
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.stock-single-result:first-child {
  border-top: none;
}
.stock-single-result:hover {
  background-color: rgb(184, 181, 181, 0.4);
}
.result-symbol {
  font-weight: 500;
  margin-right: 0.5rem;
}
.result-exchange {
  font-weight: 500;
  color: grey;
}
.result-name {
  color: grey;
  font-size: 0.9rem;
}

/*
=============== 
Home Page 
===============
*/

.homepage-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-stock-grid {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.homepage-grid-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.25rem;
  padding-left: 0.5rem;
  border-radius: var(--radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  cursor: pointer;
}
.homepage-grid-item:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08), 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  transition: var(--transition);
  transform: translateY(-2px);
}

.homepage-grid-name {
  font-size: 0.6rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.homepage-grid-symbol {
  font-size: 0.5rem;
  font-weight: 500;
  color: grey;
  margin-right: 0.25rem;
}

.homepage-grid-change {
  display: flex;
  align-items: center;
  color: #2a9c29;
  font-weight: 500;
}
.homepage-grid-change-negative {
  color: #b30000;
}

.homepage-grid-percent-change {
  font-size: 0.5rem;
  margin-right: 0.1rem;
}
.homepage-grid-arrow {
  font-size: 0.5rem;
  padding-top: 0.2rem;
}

.homepage-section {
  margin: 2rem 0;
  text-align: center;
}

.homepage-icon {
  vertical-align: middle;
  margin: 0 0.25rem;
  font-size: 1.5rem;
  color: #555;
}

.homepage-section {
  background-color: white;
  border-radius: var(--radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.homepage-section p {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.6;
  margin: 0;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.card-icon {
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 0.75rem;
  margin-bottom: 0.5rem;
}

.card-title {
  font-weight: 700;
  color: #555;
  margin-bottom: 0.5rem;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 420px) {
  .homepage-grid-item {
    padding: 0.5rem;
  }
  .homepage-grid-symbol {
    font-size: 0.6rem;
  }
  .homepage-grid-percent-change {
    font-size: 0.6rem;
    margin-right: 0.1rem;
  }
  .homepage-grid-arrow {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 800px) {
  .homepage-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
  }

  .homepage-grid-symbol {
    font-size: 0.7rem;
  }
  .homepage-grid-percent-change {
    font-size: 0.7rem;
  }
  .homepage-grid-arrow {
    font-size: 0.7rem;
  }

  .homepage-section {
    width: calc(50% - 2rem);
  }

  @media screen and (min-width: 1150px) {
    .homepage-section {
      width: calc(33% - 2rem);
    }
  }
}

/*
=============== 
Product View Page 
===============
*/

.product-view-container {
  padding: 1rem;
}

/*
=============== 
Single Stock
===============
*/

.stock-container {
  border-radius: 10px;
  background-color: white;
  padding: 1rem;
  padding-right: 2rem;
  height: 425px;
}

.btn-container {
  margin-left: 1.25rem;
}

.stock-container .btn {
  padding: 0.25rem 0.5rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: var(--radius);
  color: white;
  background: rgba(155, 154, 154, 0.959);
}
.btn-active {
  background: rgba(102, 101, 101, 0.959) !important;
}

.stock-main-info {
  margin-left: 1.25rem;
  margin-bottom: 0.5rem;
}

.stock-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-to-wishlist-icon {
  font-size: 1.5rem;
  color: grey;
  cursor: pointer;
}
.wishlist-icon-active {
  color: rgba(224, 191, 3, 0.7);
}
.wishlist-icon-active:hover {
  color: grey !important;
}
.add-to-wishlist-icon:hover {
  color: rgba(224, 191, 3, 0.7);
}

.stock-title {
  font-size: 1.75rem;
  font-weight: 500;
  color: rgb(77, 76, 76);
}

.stock-price {
  font-weight: 500;
}

.stock-change {
  font-weight: 500;
  color: #2a9c29;
}

.stock-change-negative {
  color: #b30000;
}

.stock-price-change {
  margin-right: 0.25rem;
}
.stock-arrow {
  margin-left: 0.1rem;
  font-size: 0.75rem;
}

.stock-additional-info {
  display: flex;
  width: 100%;
  margin-left: 0.25rem;
  height: 55px;
  justify-content: center;
  color: grey;
  align-items: end;
}
.stock-additional {
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0 0.5rem;
}
.stock-additional:nth-child(2) {
  border-left: 1px solid rgb(189, 185, 185);
  border-right: 1px solid rgb(189, 185, 185);
}
.additional-title {
  margin-right: 0.75rem;
}
@media screen and (min-width: 550px) {
  .stock-additional {
    padding: 0 1.25rem;
  }
  .additional-title {
    margin-right: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .stock-additional-info {
    margin-left: 0;
    margin-top: 1rem;
  }
  .stock-additional {
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0 2rem;
  }
  .stock-container {
    height: 500px;
  }
}

/*
=============== 
Not Enough Data
===============
*/

.not-enough-data-container {
  margin: 1rem;
}
.not-enough-data-container-center {
  background-color: white;
  color: grey;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
=============== 
Wishlist Page
===============
*/

.wishlist-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: #f1f5f9;
}

.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: var(--transition);
}
.grid-item:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08), 0 3px 3px 0 rgba(0, 0, 0, 0.06);
  transition: var(--transition);
}

.grid-top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-symbol,
.grid-exchange,
.grid-close {
  font-weight: 500;
}

.grid-name {
  font-size: 0.95rem;
  font-weight: 500;
  margin-right: 0.5rem;
}
.grid-symbol-exchange {
  color: grey;
}
.grid-icon {
  font-size: 1.25rem;
  color: rgba(224, 191, 3, 0.7);
}
.grid-icon:hover {
  font-size: 1.25rem;
  color: grey;
}
.grid-close,
.grid-currency {
  font-weight: 500;
  font-size: 1.25rem;
}
.grid-close {
  margin-right: 0.25rem;
}
.grid-change {
  display: flex;
  align-items: center;
  color: #2a9c29;
  font-size: 1rem;
  font-weight: 500;
}
.grid-change-negative {
  color: #b30000;
}
.grid-change-value {
  margin-right: 0.25rem;
}
.grid-percent-change {
  margin-right: 0.1rem;
}
.grid-arrow {
  font-size: 0.85rem;
}

.wishlist-item-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 0.75rem;
}

.grid-item:hover .wishlist-item-overlay {
  opacity: 1;
}

.wishlist-remove-btn,
.wishlist-view-btn {
  cursor: pointer;
  background-color: #f1f5f9;
  color: rgb(128, 128, 128, 0.9);
  margin: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.wishlist-remove-btn:hover,
.wishlist-view-btn:hover {
  background-color: rgb(212, 208, 208);
  color: white;
}
.wishlist-btn-icon {
  margin-right: 0.5rem;
}

@media screen and (min-width: 600px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1100px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1500px) {
  .wishlist-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* wishlist no items */

.no-items-wishlist-container {
  margin: 1rem;
}
.no-items-wishlist-container-center {
  background-color: white;
  color: grey;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
=============== 
Educational Page 
===============
*/

.educational-container {
  max-width: var(--large-screen-width);
  margin: auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.title {
  text-align: center;
  color: #2c3e50;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0 1rem;
  line-height: 1.2;
}

.intro-text {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #555;
  font-size: 1.2rem;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
  padding: 0 1.5rem;
}

.educational-card {
  background: #fafafa;
  border: 1px solid #eaecee;
  border-radius: var(--radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  transition: var(--transition);
  line-height: 1.6;
  position: relative;
}

.educational-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.educational-card-title {
  margin-bottom: 1.5rem;
  color: #2c3e50;
  font-size: 1.5rem;
  font-weight: 600;
}

.educational-card-text,
.educational-card ul,
.educational-card dl {
  color: #616a6b;
  margin-bottom: 1.5rem;
}

.educational-card ul {
  list-style-type: none;
  padding-left: 1rem;
}

.educational-footer {
  text-align: center;
  padding-top: 2rem;
}

.footer-content {
  font-style: italic;
  color: #5d6d7e;
}

@media screen and (max-width: 600px) {
  .educational-container {
    padding: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 2.5rem;
  }

  .intro-text {
    font-size: 1rem;
  }
}

/*
=============== 
Dark Mode 
===============
*/

/* app */

.app-dark {
  background-color: #272727;
}

/* toast container */

.toast-dark .Toastify__toast {
  color: white !important;
  background-color: #3a3a3a !important;
}
.toast-dark .Toastify__close-button {
  color: white !important;
}
/* homepage */

.homepage-dark .homepage-section {
  background-color: #333;
  color: #fff;
}

.homepage-dark .homepage-grid-item {
  background-color: #333;
  color: #ddd;
}

.homepage-dark .card-title {
  color: #ccc;
}

.homepage-dark .card-icon {
  background-color: #444;
}
.homepage-dark .homepage-icon {
  color: white;
}

.homepage-dark p {
  color: #eee;
}

.homepage-dark .homepage-grid-change {
  color: #32cd32;
}

.homepage-dark .homepage-grid-change-negative {
  color: #ff6347;
}

/* sidebar */

.sidebar-dark {
  background-color: #2e2e2e;
}
.sidebar-dark .link,
.sidebar-dark .title,
.sidebar-dark .link-icon {
  color: #ffffff;
}
.sidebar-dark .link:hover,
.sidebar-dark .link.is-active {
  background-color: #3d3d3d;
  color: #ffffff;
}
.sidebar-dark header,
.sidebar-dark .title {
  color: #cccccc;
}
.sidebar-dark .sidebar-close {
  color: #ffffff;
}

/* topbar */

.topbar-dark {
  background-color: #2e2e2e;
}

.topbar-dark .menu,
.topbar-dark .search-icon,
.topbar-dark .theme-toggle {
  color: #ffffff;
}

.topbar-dark .search-bar {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

/* search overlay */

.overlay-dark {
  background-color: #1a1a1a;
}

.overlay-dark .search-bar-overlay-container {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #555555;
}

.overlay-dark .search-results-container {
  background-color: #2b2b2b;
  color: #ffffff;
}
.overlay-dark .stock-single-result {
  border-top: 1px solid #444444;
}
.overlay-dark .stock-single-result:hover {
  background-color: #3d3d3d;
}

.overlay-dark .overlay-search-icon,
.overlay-dark .result-symbol,
.overlay-dark .result-exchange {
  color: #ffffff;
}

.overlay-dark .search-results-container {
  scrollbar-color: #b8b7b7 #f1f1f1;
}

.overlay-dark .search-results-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.overlay-dark .search-results-container::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.overlay-dark .search-results-container::-webkit-scrollbar-thumb:hover {
  background: #acacac;
}

/* wishlist */

.wishlist-dark {
  background-color: #272727;
}

.wishlist-dark .wishlist-grid {
  background-color: #272727;
}

.wishlist-dark .grid-item {
  background-color: #3a3a3a;
  color: #ffffff;
  border: 1px solid #333333;
  transition: var(--transition);
}

.wishlist-dark .grid-change {
  color: #32cd32;
}

.wishlist-dark .grid-change-negative {
  color: #ff6347;
}

.wishlist-dark .grid-item:hover {
  background-color: #333333;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.08), 0 3px 3px 0 rgba(0, 0, 0, 0.06);
}

.wishlist-dark .wishlist-item-overlay {
  background-color: transparent;
  transition: var(--transition);
}

.wishlist-dark .grid-item:hover .wishlist-item-overlay {
  background-color: #333333;
  opacity: 1;
}

.wishlist-dark .wishlist-view-btn,
.wishlist-dark .wishlist-remove-btn {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
}

.wishlist-dark .wishlist-view-btn:hover,
.wishlist-dark .wishlist-remove-btn:hover {
  background-color: #444444;
  color: #e0e0e0;
}

/* no items wishlist */

.no-items-wishlist-dark .no-items-wishlist-container-center {
  background-color: #3d3d3d;
  color: #ffffff;
  border: none;
}

/* stock view */

.not-enough-data-dark .not-enough-data-container-center {
  background-color: #3d3d3d;
  color: #ffffff;
  border: none;
}

.stock-dark {
  background-color: #333333;
  color: #ffffff;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stock-dark .stock-title {
  color: #ffffff;
}
.stock-dark .stock-additional {
  color: #ffffffbb;
}

.stock-dark .stock-change {
  color: #55d155;
}

.stock-dark .stock-change-negative {
  color: #ff6347;
}

.stock-dark .btn {
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #444444;
}

.stock-dark .btn:hover {
  background-color: #444444;
  color: #e0e0e0;
}

/* educational */

.educational-dark .title {
  color: #e0e0e0;
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.2);
}

.educational-dark .intro-text,
.educational-dark .educational-card-text,
.educational-dark .footer-content {
  color: #ccc;
}

.educational-dark .educational-card-title {
  color: rgb(226, 223, 223);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.1);
}

.educational-dark .educational-card {
  background: #333;
  border: 1px solid #2e2e2e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.educational-dark .educational-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
  .educational-dark .title {
    font-size: 2.5rem;
  }

  .educational-dark .intro-text,
  .educational-dark .educational-card-text {
    font-size: 0.9rem;
  }
}
